html,body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  height: 100%;

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
    min-height: 100%;

    overflow: hidden;
  }

  h1 {
    text-align: center;
  }
}

.last-number {
  text-align: center;
  font-size: 30px;
  border: ridge 8px #0066FF;
  width: 100px;
  margin: auto;
}

.bingo-img {
  width: 300px;
  margin: auto;
}

.card-table {
  margin-top: 20px;
  text-align: center;
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  th {
    width: 60px;
    padding-left: 20px
  }
  tr {
    height: 60px;
    td {
      &.hit {
        color: red;
      }
    }
  }
}

.login-container {
  h2 {
    text-align: center;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-login {
    max-width: 420px;
    margin: 5px auto 25px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
    .form-group {
      margin-top: 20px;
      margin-right: 0px;
    }
    #select-name {
    }
    .login-password {
    }
    .btn-login {
      margin-top: 20px;
    }
  }

  .remember-me-chk-box {
    margin-right: 5px;
    float: right;
  }

  .links {
    text-align: center;
  }
}

.games-table {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.games-admin-table {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}
